@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* side style here */
.primary_text {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
/* here hero_bg start  */
.hero_bg_container {
  max-width: 1800px;
  height: 652px;
  background-image: url(./assets/Hero-bg.png);
}
.hero_bg {
  width: 998px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;

  /* padding: 26px 221px 44px 221px; */
}
.hero_bg_img {
  width: 240.28px;
  height: 240px;
  margin-top: 40px;
}
.hero_bg_title {
  width: 998px;
  height: 136px;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
}
.hero_bg_text {
  width: 950px;
  height: 52px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn_primary {
  margin: 20px auto;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  background: rgb(13, 19, 33);
}
.main_text {
  color: white;
  font-size: 18px;
}
/* here hero_bg end  */
/* section start here */
.frame_one {
  margin-top: 100px;
}
.section_One_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_one_content {
  width: 852px;
  height: 115px;

  margin-bottom: 48px;
}
.section_one_title {
  width: 852px;
  height: 49px;
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  align-self: stretch;
}
.section_one_text {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  align-self: stretch;
}
/* farme_two */
.frame_two {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
.frame_two_title {
  margin: 16px 0px;
}
.btn_two_main {
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
}
.btn_two {
  width: 131px;
  height: 23px;
  color: rgb(13, 19, 33);
  text-decoration: none;
}
.btn_two_main:hover {
  background: #05c46b;

  border: none;
  border-radius: 8px;
}
.btn_two:hover {
  color: white;
}

/* frame three start */
.frame_three {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
/* frame_four start */
.frame_four {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
/* section end here */
/* main nenu start */
.main_one h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.main_one q {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main_one,
q > span {
  color: #2f3542;
  font-weight: 800;
  /* margin-bottom: 60px; */
}
.inspire_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main_two h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.main_two p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.frame_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_frame_one {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.main_frame_heading {
  position: static;
  width: 284px;
  height: 219px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 32px 10px; */
}

.btn_frame {
  border: none;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(255, 76, 30, 0.05);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.main_frame_two {
  width: 364px;
  height: 299px;
  border-radius: 16px;

  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.main_frame_three {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  padding: 40px;
  background: rgba(255, 223, 0, 0.05);
}
.link {
  color: rgb(13, 19, 33);
}
.link:hover {
  color: #ffff;
  background: #c44569;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.1s;
}
/* footer start here */
.target {
  margin-top: 110px;
}
.target h1 {
  width: 852px;
  height: 37px;
  margin-top: 30px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;

  text-align: center;
  margin: 0 auto;
}
.target p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}
.react_framework {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 10px; */
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
}
.react_framework img {
  margin-left: 60px;
  width: 120px;
  height: 110px;
}
.react_content h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.react_content {
  margin-left: 25px;
}

/* footer end here */
