@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* side style here */
.primary_text {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
/* here hero_bg start  */
.hero_bg_container {
  max-width: 1800px;
  height: 652px;
  background-image: url(./assets/Hero-bg.png);
  margin: 0 auto;
}
.hero_bg {
  width: 998px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;

  /* padding: 26px 221px 44px 221px; */
}
.hero_bg_img {
  width: 240.28px;
  height: 240px;
  margin-top: 40px;
}
.hero_bg_title {
  width: 998px;
  height: 136px;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
}
.hero_bg_text {
  width: 950px;
  height: 52px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn_primary {
  margin: 20px auto;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  background: rgb(13, 19, 33);
}
.main_text {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.btn_primary:hover {
  background: rgba(126, 214, 223, 1);
  border: none;
}
/* here hero_bg end  */
/* section start here */
.frame_one {
  margin-top: 100px;
}
.section_One_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_one_content {
  width: 852px;
  height: 115px;

  margin-bottom: 48px;
}
.section_one_title {
  width: 852px;
  height: 49px;
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  align-self: stretch;
}
.section_one_text {
  width: 852px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  align-self: stretch;
}
/* farme_two */
.frame_two {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
.frame_two_title {
  margin: 16px 0px;
}
.btn_two_main {
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
}
.btn_two {
  width: 131px;
  height: 23px;
  color: rgb(13, 19, 33);
  text-decoration: none;
}
.btn_two_main:hover {
  background: #05c46b;

  border: none;
  border-radius: 8px;
}
.btn_two:hover {
  color: white;
}

/* frame three start */
.frame_three {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
/* frame_four start */
.frame_four {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
  align-self: stretch;
  opacity: 0.7;
  margin: 0 auto;
}
/* section end here */
/* main nenu start */
.main_one h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.main_one q {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main_one,
q > span {
  color: #2f3542;
  font-weight: 800;
  /* margin-bottom: 60px; */
}
.inspire_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 950px;
  height: 440px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.inspire_me_inside {
  border-radius: 15px;
  margin: 0 auto;
}
.main_two h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;
}
.main_two p {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.frame_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_frame_one {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.main_frame_heading {
  position: static;
  width: 284px;
  height: 219px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 32px 10px; */
}

.btn_frame {
  border: none;
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(255, 76, 30, 0.05);
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.main_frame_two {
  width: 364px;
  height: 299px;
  border-radius: 16px;

  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.main_frame_three {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  padding: 40px;
  background: rgba(255, 223, 0, 0.05);
}
.link {
  color: rgb(13, 19, 33);
}
.link:hover {
  color: #ffff;
  background: #c44569;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.4s;
}
/* footer start here */

.target {
  margin-top: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.target h1 {
  width: 852px;
  height: 37px;
  margin-top: 30px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;

  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.target p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
}
.react_framework {
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  /* margin: 0 auto; */
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  padding: 2%;
}
.react_framework img {
  margin-left: 60px;
  width: 120px;
  height: 110px;
}
.react_content h1 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.react_content {
  margin-left: 25px;
}
.footer_final {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  padding: 64px 48px 64px 48px;
  /* height: 313px;
  width: 1670px; */
  border-radius: 16px;
  box-sizing: border-box;
  /* margin: 0 auto; */

  padding: 64px 48px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 92%;
  height: 100%;
  padding: 1%;
  background-image: linear-gradient(360deg rgba(34, 47, 62, 1));
}
.div_final {
  background-image: url(./assets/handshake.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 1140px; */
  height: 313px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.div_final h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.div_final p {
  color: rgb(255, 255, 255);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}
.footer_input {
  color: rgb(255, 255, 255);
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  text-align: center;
  /* box-sizing: border-box; */
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  width: 548px;
  height: 57px;
  margin: 0 auto;

  background: rgb(255, 255, 255);
}
.footer_input_last {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}
.btn_footer {
  width: 120px;
  height: 57px;

  padding: 17px 20px 17px 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.btn_footer a {
  text-decoration: none;
  color: rgb(13, 19, 33);
}
.solution_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
  height: 36px;
  align-items: center;
  padding: 3%;
  margin: 40px;
  box-sizing: border-box;
}
.icon_last {
  /* Frame 25 */

  width: 157.01px;
  height: 36px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.icon_last img:hover {
  size: 50px;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  border-radius: 2px;
  background-color: #f5322b;
  transition: 0.5s;
}

/* footer end here */
